body{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}

nav{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-family: arial;
}
header{
    background-color: grey;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    border-bottom: solid 5px;
    border-bottom-color: red;
}
.hear{
    color: red;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    padding-bottom: 20px;
}
.btn{
    background-color: cornflowerblue;
    color: red;
    font-size: 10px;
    font-family: monospace;
    padding: 10px 20px;
    border-radius: 15px;
    margin-left: 30px;
    cursor: pointer;
}
.sec-1{
    background-image: url(./building1.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    animation-name: imgslide;
    animation-iteration-count: infinite;
    animation-duration: 10s;

}
 @keyframes imgslide{
    10%{
        background-image: url(./building1.jpg);
    }
    20%{
        background-image: url(./building2.jpg);
    }
    30%{
        background-image: url(./building3.jpg);
    }

 }
 .wel{
    color: crimson;
    text-align: center;
 }
 .logo{
    color: gold;
    display: flex;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-left: 30px;
}
.motto{
    color: crimson;
    font-weight: bolder;
}
.head{
    font-size: 11px;
    font-weight: bolder;
}
.benz{
    color: crimson;
    text-align: center;
}
.mercedes{
    width: 350px;
    height: 300px;
    gap: 50px;
    margin-left: 50px;
}
#mer{
    text-align: center;
    font-size: 20px;
    color: crimson;
    font-weight: bolder;
    margin-left: 50px;
}
.flex-main{
    display: flex;
    margin-left: 30px;
}
.menu{
    display: none;
}
.opn,.clo{
    display: none;
}
.menu{
    background-color: black;
    color: white;
    width: 120px;
    position: absolute;
    text-align: right;
    padding: 10px;
    list-style: none;
    right: 120px;
    top: 50px;
    
}
.but{
    text-align: center;
    background-color: red;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    padding: 20px 10px;
    margin-left: 170px;
    cursor: pointer;

    animation: flyin ease-in-out 10 2s;
}
@keyframes flyin{
    10%{
    opacity: 1;
    transform: translateX(200px);
}
    20%{
    opacity: 0;
    transform: translateX(0);
}
    30%{
    opacity: 1;
    }
}
button:hover{
   color: white;
   background-color: red
}
button:active{
   background-color: blue;
   color: white;
}
.tech{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: crimson;
}
 
@media (max-width: 768px){
.flex-main{
    display: block;
}
.mercedes{
    justify-content: left;
    margin-left: 190px;
}
.but{
    margin-left: 350px;
    margin-bottom: 10px;
}
}

@media(max-width: 425px){
.flex-main{
margin-left: -10rem;
}
.section-1{
    
}
.menu{
    display: block;
}
.opn{
    display: block;
}
ul{
    display: none;
}
.hear{
    font-size: 8px;
    margin-bottom: 15px;
}
#mer{
    margin-left: 200px;
}
}
